<h1 id='header' ng-controller='SlideListCtrl'>
  Lost and Found in Space
</h1>
<slides id='images'></slides>
<textslides></textslides>
<buttons></buttons>
<div class='modal hide fade' data-backdrop='true' id='edit-slide' role='dialog' tabindex='-1'>
  <div class='modal-header'>
    <input ng-model='currentSlide.title' type='text'>
    <input ng-model='currentSlide.subtitle' type='text'>
    <input ng-model='currentSlide.image_url' type='text'>
    <input ng-model='currentSlide.main_order' type='number'>
    <input ng-model='currentSlide.sub_order' type='number'>
  </div>
  <div class='modal-body'>
    <textarea ng-model='currentSlide.content' type='text'></textarea>
    <a class='btn update-btn' data-dismiss='modal' ng-click='saveCurrentSlide(currentSlide)'>Update</a>
    <a class='btn delete-btn' data-dismiss='modal' ng-click='deleteCurrentSlide(currentSlide)'>Delete</a>
    <a class='btn cancel-btn' data-dismiss='modal' type='button'>Cancel</a>
  </div>
</div>
