%a.btn.btn-link.btn-large.backward-btn
  %i.icon-backward
%a.btn.btn-link.btn-large.upward-btn
  %i.icon-arrow-up
%a.btn.btn-link.btn-large.downward-btn
  %i.icon-arrow-down
%a.btn.btn-link.btn-large.forward-btn
  %i.icon-forward
