%a.edit-button{href: "#edit-slide", "data-toggle" => "modal"}
  %i.icon-pencil.icon-white

%h1
  %a{href:"#/slides/{{slide.id}}"} {{ slide.title | lowercase }}

%h2
  {{ slide.subtitle | lowercase }}

%div.content
  %p{"ng-bind-html" => "slide.content"}
