%h1{'ng-controller' => 'SlideListCtrl' }
  %a{href: '#matrix'}
    Lost and Found in Space

%slides#images
%textslides

%buttons

%div#edit-slide.modal.hide.fade{tabindex: "-1", role: "dialog", "data-backdrop" => "true"}
  %div.modal-header
    %input{type: "text", "ng-model" => "currentSlide.title"}
    %input{type: "text", "ng-model" => "currentSlide.subtitle"}
    %input{type: "text", "ng-model" => "currentSlide.image_url"}
    %input{type: "number", "ng-model" => "currentSlide.main_order"}
    %input{type: "number", "ng-model" => "currentSlide.sub_order"}

  %div.modal-body
    %textarea{type:"text", "ng-model" => "currentSlide.content"}
    %a.btn.update-btn{ "ng-click" => "saveCurrentSlide(currentSlide)", "data-dismiss" => "modal" } Update
    %a.btn.delete-btn{ "ng-click" => "deleteCurrentSlide(currentSlide)", "data-dismiss" => "modal" } Delete 
    %a.btn.cancel-btn{ type: "button", "data-dismiss" => "modal" } Cancel
