%slide{'ng-repeat' => 'slide in textSlides | orderBy:textSlideOrderProp', class: 'text', 'ng-click' => "setCurrentSlide(slide)"}

%button#new-slide.btn{'ng-click' => 'createNewSlide()'} Add New Slide
